* {
    margin: 0;
    padding: 0;
    font-family: 'Spectral', serif;

}

.nav-menu {
    background-color: black;
    border-bottom: 1px solid rgb(10, 10, 10);
}

.nav-menu li{
    display: inline-block;
    padding: 20px;
    padding-right: 30px;
    padding-left: 30px;
}

.nav-menu li:hover{
    padding-bottom: 17px;
    border-bottom: 3px solid #fc888c;
}

.nav-menu li a {
    color: #fc888c;

    text-decoration: none;
    font-size: 17px;
}

#login, #carrinho {
    float: right;
    background: #fc888c;
}

.active a{
    font-weight: bold;
}


#login a{
    color: black;
    font-weight: bold;
}

#login:hover, #carrinho:hover{

    border-bottom: 3px solid #ff6e72;
}

#carrinho {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
#carrinho:hover {
    padding-bottom: 7px;
}


.header-home {
    width: 100vw;
    height: 90vh;
    display: grid;
    align-content: center;
    justify-content: center;
    border-bottom: 8px solid #75858f;
    background-image: url('https://i.ibb.co/kg0Ynq5/header-1.png');
    background-repeat: no-repeat;
    background-size: cover;

}

.header-home-title {
    color: #ff6e72;
    font-size: 40px;
}

#header-title-small {
    color: #75858f;
    font-size: 30px;
    text-align: center;

}